estimation_pkg/BUILDS/*/bin/**
!estimation_pkg/BUILDS/*/bin/README.md

estimation_pkg/BUILDS/*/obj/**
!estimation_pkg/BUILDS/*/obj/README.md

estimation_pkg/OUTPUT/**
!estimation_pkg/OUTPUT/README.md
!estimation_pkg/OUTPUT/*.ods

**/__refs/**

**/.ipynb_checkpoints
**/*.pyc

__changelog.md
__changelog.md.html
